.container-home {
    padding: 0;
    margin: 0;
    height: 90.3vh;
}

.container-lock-home {
    height: 100%;
    background: linear-gradient(#aa4b6b, #6b6b83, #3b8d99);
}

.container-home-page {
    position: absolute;
    width: 80%;
    height: 70%;
    margin: 91px 0 0 140px;
    border-radius: 10px;
    background: linear-gradient(#e1b6c6, #bcbccd, #3b8d99);
    box-shadow:
        0 2.8px 2.2px rgb(0 0 0 / 3%),
        0 6.7px 5.3px rgb(0 0 0 / 5%),
        0px 17px 10px rgb(0 0 0 / 44%),
        0px -20px 17.9px rgb(0 0 0 / 7%),
        1px 20px 33.4px rgb(0 0 0 / 9%),
        18px 20px 20px rgb(0 0 0 / 12%);
}

p {
    color: rgb(219, 342, 327);
    font-size: 70px;
    height: 42px;
    margin-left: 41%;
    font-weight: 600;
    font-family: monospace;
    cursor: default;
}

span {
    color: rgb(248, 230, 230);
    font-size: 39px;
    margin-top: -20px;
    margin-left: 30%;
    font-weight: 600;
    font-family: monospace;
    cursor: default;
}

.image-home {
    position: absolute;
    display: flex;
    gap: 20px 30px;
    width: 80%;
    height: 50%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
}

.list-image-home {
    width: 30%;
    height: 65%;
}

.list-image-home img {
    width: 100%;
    height: 100%;

}

img:hover {
    transform: scale(1.1);
    transition: 0.2s 0.1s;
}