li {
    width: 91%;
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 3px;
}


.table-header {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table-row:not(:first-child) {
    height: 0%;
    display: flex;
    align-items: center;
}

.col-1 {
    flex-basis: 10%;
}

.col-2 {
    flex-basis: 40%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 25%;
}

.form-list {
    height: 400px !important;
}

.form-list h2 {
    margin-top: 5px;
}

.form-input {
    position: relative;
    height: 300px;
    top: -7px;
    display: flex;
}

.form-input .Fieldset {
    border: 1px solid var(--violet12);
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 17px;
    width: 300px;
    margin-bottom: 20px;

}

.form-input textarea {
    border: 1px solid var(--violet12);
    width: 300px;
    margin-left: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    resize: none;
    color: black;
    font-size: 17px;
    outline: none;
    background-color: transparent;
}

.form-input .Input {
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
    font-size: 17px;
}

.form-input .Input:focus {
    box-shadow: none;
}

.btn-delete-reudx {
    height: 28px;
    padding: 3px 12px;
    border-radius: 5px;
    outline: none;
    font-weight: 200;
    color: #fff;
    background-color: #ef4444;
    cursor: pointer;
}

.btn-delete-reudx:hover {
    background-color: #8d2a2a;
}